p = t('.main_text_html', repository_link: link_to(@repository.name, repository_url(@repository)))

p = t('.extra_text_html', check_link: link_to(t('.extra_link_title'), repository_check_url(@repository, @check)))
