@import "bootstrap";

ul.pagination {
  margin-bottom: 0;
}

.custom-form-actions {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 575px) {
  .custom-form-actions {
    flex-direction: column;
  }
}
